
<section id="productos" class="seccion animada">
    <div class="container">

        <h1 class="text-center">
            Bienvenido a <span style="color:#ffbb33;">Nación Burger</span>
        </h1>

        <h2 class="text-center mb-4">Carta</h2>

        <!-- MENÚ DE CATEGORÍAS -->
        <nav class="productos-menu text-center mb-5">
            <button class="categoria-btn active" data-categoria="hamburguesas">Hamburguesas</button>
            <button class="categoria-btn" data-categoria="alitas">Alitas y Chicken</button>
            <button class="categoria-btn" data-categoria="salchipapas">Salchipapas</button>
            <button class="categoria-btn" data-categoria="combos">Combos</button>
            <button class="categoria-btn" data-categoria="SB">Sánguches y Broaster</button>
        </nav>

        <!-- CONTENEDOR GENERAL -->
        <div class="productos-contenedor">

            <!-- Ejemplo bloque hamburguesas -->
            <div class="categoria-bloque active" data-categoria="hamburguesas">
                <h3 class="subcategoria">Clásicas:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa1.jpg" alt="Hamburguesa clásica" />
                        <h3>Hamburguesa Clásica</h3>
                        <p>Medallon de Carne, Lechuga, Tomate, Cebolla Brunoise & Pickles.</p>
                        <p><strong>S/20.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa2.jpg" alt="Hamburguesa Cheese" />
                        <h3>Cheese</h3>
                        <p>Medallon de carne, Doble Queso Cheddar, Sasa de la casa, Pepinillos Cebolla en Brunoise,
                            Lechuga y Tomate.</p>
                        <p><strong>S/22.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa3.jpg" alt="Hamburguesa Royal" />
                        <h3>Hamburguesa Royal</h3>
                        <p>Medallon de Carne, Queso, Tocino, Huevo, Lechuga, Tomate, Cebolla Brunoise & Pickles, Mayo de
                            aji Amarillo.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa4.jpg" alt="Hamburguesa A lo pobre" />
                        <h3>Hamburguesa A lo pobre</h3>
                        <p>Medallon de carne, Platano, Huevo, Lechuga, Tomate, Chalaquita, Mayo de aji Amarillo, Lechuga
                            y Tomate.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa5.jpg" alt="Hamburguesa Bacon" />
                        <h3>Hamburguesa Bacon</h3>
                        <p>Medallon de carne, Queso Cheddar, Doble Tocino, Lechuga, Tomate, Cebolla Brunoise & Pickles.
                        </p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa6.jpg" alt="Hamburguesa Nacion Burger" />
                        <h3>Hamburguesa Nacion Burger</h3>
                        <p>Doble Medallon de Carne, Doble queso Cheddar, Tocino, Chorizo, Huevo, Lechuga, Tomate,
                            Cebolla, brunoise & Pickles.</p>
                        <p><strong>S/32.00</strong></p>
                    </div>
                </div>
                <h3 class="subcategoria">Americanas:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa7.jpeg" alt="Hamburguesa American Classic simple" />
                        <h3>Hamburguesa American Classic simple</h3>
                        <p>Carne SMASH, Cheddar, Cebolla en aros, Ketchup, Mostaza, Pickles, Lechuga, Tomate.</p>
                        <p><strong>S/23.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa8.jpg" alt="Hamburguesa American Bacon" />
                        <h3>Hamburguesa American Bacon</h3>
                        <p>Carne SMASH, Cebolla Acaramelizada, Tocino, Chunchy, Cheddar, Pickles, Salsa Tousand.</p>
                        <p><strong>S/27.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa9.jpg" alt="Hamburguesa La Gringa" />
                        <h3>Hamburguesa La Gringa</h3>
                        <p>Carne SMASH, Onion Ring al Panko, Cheddar, Tocino, Mayo BBQ, Cebolla caramelizada, Salsa
                            Americana.</p>
                        <p><strong>S/29.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa10.jpeg" alt="Hamburguesa Hawaiana" />
                        <h3>Hamburguesa Hawaiana</h3>
                        <p>Carne SMASH, Queso Dambo, Mermelada de Piña y Tocino, Cebolla Caramelizada, Salsa Americana.
                        </p>
                        <p><strong>S/29.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa11.jpg" alt="Hamburguesa California" />
                        <h3>Hamburguesa California</h3>
                        <p>Carne SMASH, Cheddar, Cebolla en Brunoise, Mermelada de Tocino, Pickles, Salsa de la casa.
                        </p>
                        <p><strong>S/29.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa12.jpeg" alt="Hamburguesa Mega cheese" />
                        <h3>Hamburguesa Mega Cheese</h3>
                        <p>DOBLE Carne SMASH, Cuadruple queso Cheddar, Cebolla caramelizada, Pickles .</p>
                        <p><strong>S/32.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa7.jpeg" alt="Hamburguesa American Classic Doble" />
                        <h3>Hamburguesa American Classic Doble</h3>
                        <p>Carne SMASH, Cheddar, Cebolla en aros, Ketchup, Mostaza, Pickles, Lechuga, Tomate.</p>
                        <p><strong>S/27.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa8.jpg" alt="Hamburguesa American Bacon Doble" />
                        <h3>Hamburguesa American Bacon Doble</h3>
                        <p>Carne SMASH, Cebolla Acaramelizada, Tocino, Chunchy, Cheddar, Pickles, Salsa Tousand.</p>
                        <p><strong>S/34.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa9.jpg" alt="Hamburguesa La Gringa Doble" />
                        <h3>Hamburguesa La Gringa Doble</h3>
                        <p>Carne SMASH, Onion Ring al Panko, Cheddar, Tocino, Mayo BBQ, Cebolla caramelizada, Salsa
                            Americana.</p>
                        <p><strong>S/34.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa10.jpeg" alt="Hamburguesa Hawaiana Doble" />
                        <h3>Hamburguesa Hawaiana Doble</h3>
                        <p>Carne SMASH, Queso Dambo, Mermelada de Piña y Tocino, Cebolla Caramelizada, Salsa Americana.
                        </p>
                        <p><strong>S/34.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Hamburguesas/hamburguesa11.jpg" alt="Hamburguesa California Doble" />
                        <h3>Hamburguesa California Doble</h3>
                        <p>Carne SMASH, Cheddar, Cebolla en Brunoise, Mermelada de Tocino, Pickles, Salsa de la casa.
                        </p>
                        <p><strong>S/34.00</strong></p>
                    </div>
                </div>
            </div>

            <!-- Ejemplo bloque alitas y chicken -->
            <div class="categoria-bloque" data-categoria="alitas">
                <h3 class="subcategoria">Alitas Clasicas:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas1.jpg" alt="Alitas BBQ" />
                        <h3>Alitas BBQ</h3>
                        <p>Jugosas alitas con salsa BBQ.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas2.jpg" alt="Alitas Crispy" />
                        <h3>Alitas Crispy</h3>
                        <p>Alitas de Pollo, cobertura crujiente, especies secretas, salsa ranch.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas3.jpeg" alt="Alitas Honey Mustard" />
                        <h3>Alitas Honey Mustard</h3>
                        <p>Alitas de pollo glaseadas con miel y mostaza, salsa agridulce, cebollin picado.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas4.jpg" alt="Alitas Lemon Pepper" />
                        <h3>Alitas Lemon Pepper</h3>
                        <p>Alitas de Pollo, Pimienta negra molida, ralladura de limón, mantequilla de ajo.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas5.jpeg" alt="Alitas Salsa Cheddar" />
                        <h3>Alitas Salsa Cheddar</h3>
                        <p>Alitas de pollo, salsa de queso cheddar cremosa, cebollin fresco, paprika.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas6.jpg" alt="Alitas Teriyaki" />
                        <h3>Alitas Teriyaki</h3>
                        <p>Alitas de pollo, salsa teriyaki dulce, sésamo tostato, cebollin verde.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                </div>
                <h3 class="subcategoria">Alitas Picantes:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas7.jpg" alt="Alitas búfalo" />
                        <h3>Alitas búfalo</h3>
                        <p>Con salsa búfalo y especias.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas8.jpg" alt="Alitas Mango Habanero" />
                        <h3>Alitas Mango Habanero</h3>
                        <p>Alitas de pollo, salsa de mango dulce, chile habanero, cilantro fresco.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas9.jpg" alt="Alitas Acevichada" />
                        <h3>Alitas Acevichada</h3>
                        <p>Alitas de pollo, leche de tigre, limón, ají amarillo, cebolla morada.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/alitas10.jpg" alt="Alitas A la chalaca" />
                        <h3>Alitas A la chalaca</h3>
                        <p>Alitas de pollo, salsa chalaca, choclo, cancha serrana, rocoto picado.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                </div>

                <h3 class="subcategoria">Chicken:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/ckicken1.jpg" alt="Crispy chicken" />
                        <h3>Cryspy chicken</h3>
                        <p>Pan Brioche, Pollo crispy, Salsa de la casa, papa amarilla.</p>
                        <p><strong>S/22.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/ckicken2.jpg" alt="Crispy Cheese" />
                        <h3>Cryspy Cheese</h3>
                        <p>Pan Brioche, Pollo crispy, Salsa Cheddar, papa amarilla.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Alitas y Chicken/ckicken3.jpg" alt="Bacon & Cheese" />
                        <h3>Bacon & Cheese</h3>
                        <p>Pan Brioche, Pollo crispy, Salsa de la casa,queso, tocino, papa amarilla.</p>
                        <p><strong>S/26.00</strong></p>
                    </div>
                </div>
            </div>

            <!-- Ejemplo bloque salchipapas -->
            <div class="categoria-bloque" data-categoria="salchipapas">
                <h3 class="subcategoria">Salchipapas:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapas.jpg" alt="Salchipapas" />
                        <h3>Salchipapas Tradicional</h3>
                        <p>Salchichas premium y papas crocantes con salsas caseras.</p>
                        <p><strong>S/18.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa1.png" alt="Montana" />
                        <h3>Salchipapa Montana</h3>
                        <p>FrankFurter, Huevo, Papa amarilla</p>
                        <p><strong>S/19.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa2.jpg" alt="Salchipapa Mixta" />
                        <h3>Salchipapa Mixta</h3>
                        <p>FrankFurter, Chorizo Parrillero, Papa amarilla</p>
                        <p><strong>S/20.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa3.jpg" alt="Salchipollo" />
                        <h3>Salchipollo</h3>
                        <p>FrankFurter, Pollo deshilachado, Papa amarilla</p>
                        <p><strong>S/21.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa4.jpg" alt="Especial" />
                        <h3>Especial</h3>
                        <p>FrankFurter, Huevo, Platano, Chorizo Parrillero, Papa amarilla</p>
                        <p><strong>S/22.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa5.jpeg" alt="Cheddar" />
                        <h3>Cheddar</h3>
                        <p>FrankFurter, Salsa Cheddar, Toble tocino picado, Papa amarilla</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa6.jpeg" alt="Salchialita" />
                        <h3>Salchialita</h3>
                        <p>FrankFurter, 3 Alitas bañadas Cualquier sabor, Papas</p>
                        <p><strong>S/26.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa7.jpeg" alt="Parrillera" />
                        <h3>Parrillera</h3>
                        <p>FrankFurter, Chorizo parrillero, pollo al chimichurri, Papas</p>
                        <p><strong>S/26.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa8.jpeg" alt="Salchialita" />
                        <h3>Salchialita Especial</h3>
                        <p>FrankFurter, Huevo, Platano, Chorizo, 3 Alitas de Cualquier sabor, papas</p>
                        <p><strong>S/32.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Salchipapas/salchipapa9.jpeg" alt="Nacion" />
                        <h3>Nacion</h3>
                        <p>FrankFurter, 02 Huevos, Platano, Chorizo, 6 alitas bañadas en Cualquier sabor, papas</p>
                        <p><strong>S/50.00</strong></p>
                    </div>
                </div>
            </div>

            <!-- combos -->
            <div class="categoria-bloque" data-categoria="combos">
                <h3 class="subcategoria">Combos:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Combos/combo1.jpeg" alt="Clasico">
                        <h3>Combo Clasico</h3>
                        <p>1 Hamburguesa Clasica + 1 Alita(Cualquier sabor)+ 2 bebidas.</p>
                        <p><strong>S/49.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Combos/combo2.jpeg" alt="Combo Alitas">
                        <h3>Combo Alitas</h3>
                        <p>18 Alitas en 3 sabores a combinar + Porcion de paspas personal.</p>
                        <p><strong>S/62.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Combos/combo3.jpeg" alt="Combo Wings Couple" />
                        <h3>Combo Wings Couple</h3>
                        <p>12 Alitas en 2 sabores a cobinar + 2 bebidas.</p>
                        <p><strong>S/45.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Combos/combo4.jpeg" alt="Combo Nacion">
                        <h3>Combo Nacion</h3>
                        <p>2 Hamburguesas nacionales + 2 porciones de alas(Cualquier sabor) + 2 bebidas.</p>
                        <p><strong>S/90.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Combos/combo5.jpeg" alt="Combo Burger" />
                        <h3>Combo Burger</h3>
                        <p>2 Hamburguesas Nacionales + 2 bebidas.</p>
                        <p><strong>S/52.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Combos/combo6.jpeg" alt="Combo Salchi" />
                        <h3>Combo Salchi</h3>
                        <p>1 Hamburguesa nacional + 1 Salchi alita + 2 bebidas.</p>
                        <p><strong>S/48.00</strong></p>
                    </div>
                </div>
            </div>

            <!-- sanguches y broaster -->
            <div class="categoria-bloque" data-categoria="SB">
                <h3 class="subcategoria">Sánguches:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/S1.jpeg" alt="Deshilachado" />
                        <h3>Sánguche Deshilachado</h3>
                        <p>Pollo Deshilachado, vegetales y papas.</p>
                        <p><strong>S/18.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/S2.jpg" alt="Sánguche Chicken Grill" />
                        <h3>Sánguche Chicken Grill</h3>
                        <p>Pollo a la plancha, vegetales y papas.</p>
                        <p><strong>S/22.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/S3.webp" alt="Sánguche Chicken Bacon" />
                        <h3>Sánguche Chicken Bacon</h3>
                        <p>Pollo a la plancha ahumada con queso y tocino, vegetales y papas.</p>
                        <p><strong>S/22.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/S4.jpg" alt="Sánguche Chicken Grill" />
                        <h3>Sánguche Chicken Grill</h3>
                        <p>Pan Brioche, chorizo parrillero, salsa chimichurri, vegetales.</p>
                        <p><strong>S/16.00</strong></p>
                    </div>
                </div>

                <h3 class="subcategoria">Broaster:</h3>
                <div class="grupo-productos">
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/broaster1.jpeg" alt="Broaster Pierna" />
                        <h3>Broaster Pierna</h3>
                        <p>Pierna Broaster, papas, arroz, ensalada o coleslaw.</p>
                        <p><strong>S/19.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/broaster2.jpeg" alt="Broaster Pierna a lo pobre" />
                        <h3>Broaster Pierna a lo pobre</h3>
                        <p>Pierna Broaster, platano, Huevo, papas, arroz, ensalada o coleslaw.</p>
                        <p><strong>S/23.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/broaster3.png" alt="Broaster Pecho" />
                        <h3>Broaster Pecho</h3>
                        <p>Pecho Broaster, papas, arroz, ensalada o coleslaw.</p>
                        <p><strong>S/20.00</strong></p>
                    </div>
                    <div class="producto-item">
                        <img src="images/Sánguches y Broaster/broaster4.jpg" alt="Broaster Pecho A lo pobre" />
                        <h3>Broaster Pecho A lo pobre</h3>
                        <p>Pecho Broaster,platano, huevo, papas, arroz, ensalada o coleslaw.</p>
                        <p><strong>S/24.00</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="../sistema/pedido.html" class="btn-pedido-float">🛒</a>
    
</section>