<!--Vista para el Inicio-->
<section id="inicio" class="seccion animada">
    <hr>
    <h1 class="text-center">Bienvenido a <span style="color: #ffbb33;">Nación Burger</span></h1>
    <hr>

    <div class="row align-items-center mb-3">
        <div class="col-md-6" data-aos="flip-left">
            <h2>¿Quiénes Somos?</h2>
            <p>
                En Nación Burger somos apasionados por la comida rápida de calidad, con un sabor casero que se
                siente en cada bocado. Nos dedicamos a preparar hamburguesas, alitas, pollo broaster, salchipapas,
                sánguches y combos al momento, usando ingredientes frescos y recetas cuidadas.

                Nuestro objetivo es ofrecer una experiencia gastronómica rápida, sabrosa y accesible, con un
                servicio atento que garantice la satisfacción de cada cliente. Aquí, la calidad y el buen sabor
                siempre van de la mano.
            </p>
        </div>
        <div class="col-md-6 text-center" data-aos="fade-left">
            <img src="images/nacionburgerlogo.jpg" alt="Nosotros" class="img-fluid rounded shadow img-small">
        </div>
    </div>

    <div class="row align-items-center mb-5 flex-md-row-reverse">
        <div class="col-md-6" data-aos="flip-right">
            <h2>Misión</h2>
            <p>En Nación Burguer, nuestra misión es ofrecer comida rápida de alta calidad, combinando
                sabor casero con un servicio eficiente y cordial. Nos esforzamos por brindar una experiencia
                gastronómica que destaque por la frescura de sus ingredientes, la dedicación en la preparación y el
                compromiso con la satisfacción del cliente.</p>
        </div>
        <div class="col-md-6 text-center" data-aos="fade-up-right">
            <img src="images/mision-cumplida.png" alt="Misión" class="img-fluid rounded shadow img-small">
        </div>
    </div>


    <div class="row align-items-center mb-5">
        <div class="col-md-6" data-aos="flip-left">
            <h2>Visión</h2>
            <p>Ser líderes en sabor, innovación y experiencia gastronómica a nivel nacional.</p>
        </div>
        <div class="col-md-6 text-center" data-aos="fade-left">
            <img src="images/oportunidades.png" alt="Visión" class="img-fluid rounded shadow img-small">
        </div>
    </div>


    <div class="row align-items-center mb-5 flex-md-row-reverse">
        <div class="col-md-6" data-aos="fade-left">
            <h2>Objetivos:</h2>
            <ul class="list-unstyled">
                <li>✔ Satisfacción del cliente</li>
                <li>✔ Innovación constante</li>
                <li>✔ Expansión nacional</li>
                <li>✔ Sostenibilidad</li>
            </ul>
        </div>
        <div class="col-md-6 text-center" data-aos="flip-left">
            <img src="images/objetivo.png" alt="Objetivos" class="img-fluid rounded shadow img-small">
        </div>
    </div>
</section>