<!--Vista para el Contacto-->
<section id="contacto" class="seccion oculto animada">
    <h2>Contáctanos</h2>
    <div class="contact-container">
        <div class="contact-info">
            <p><strong>📍 Dirección:</strong> Av. Huarochirí 565, Ate</p>
            <p><strong>📍 Dirección:</strong> Av. Alameda del corregidor 3254</p>
            <p><strong>📍 Dirección:</strong> Av. Prolongación Javier Prado (Auxiliar) frente a Real Plaza
                Puruchuco.</p>
            <p><strong>📍 Dirección:</strong> Av. Separadora Indistrial 2557 Ate (FOOD TRUCK)</p>
            <p><strong>📲 Teléfono:</strong> Haz tus pedidos al +51 914271366</p>
            <p><strong>📧 Email:</strong> contacto@nacionburger.com</p>
        </div>

        <div class="contact-form">
            <h3>¿Tienes alguna duda o sugerencia?</h3>
            <form action="https://formsubmit.co/sergiomarceloatenciodahua003@gmail.com" method="POST">
                <input type="text" name="nombre" placeholder="Tu nombre" required>
                <input type="email" name="email" placeholder="tucorreo@..." required>
                <textarea name="mensaje" placeholder="Escribe tu mensaje..." required></textarea>

                <!-- Opcional: para evitar CAPTCHA -->
                <input type="hidden" name="_captcha" value="false">
                <!-- Opciona2: para redirigir a la pagina que quieres moestrar -->
                <input type="hidden" name="_next" value="http://localhost:3000">

                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>